<h3 class="bg-primary p-1">{{getName()}}'s todo list</h3>

<div class="mt-1 mb-1">
	<input class="form-control" #todoText />
	<button class="btn btn-primary mt-1" (click)="addTodoItem(todoText.value)">add</button>
</div>

<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th></th>
			<th>what?</th>
			<th>done!</th>
		</tr>
	</thead>

	<tbody>
		<tr *ngFor="let item of getTodoItems(); let i = index">
			<td>{{ i }}</td>
			<td>{{ item.action }}</td>
			<td><input type="checkbox" [(ngModel)]="item.done" /></td>
		</tr>
	</tbody>
</table>
